nav {
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	height: 80px;
	z-index: 1000;
	margin-top:0;
	position: fixed;
	padding-top: 0px;
	background: none;
	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

.logo,
.menu{
	position: absolute;
	z-index: 2000;
}
.logo{
	left: 0;
    top: 4px;
    width: 70px;
    height: 74px;
    padding: 04% 2%;
    text-align: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: 
}
.menu{
	top:0;
	right: 0;
	height: 4px;
	width: 24px;
	tex-align:right;
	margin: 2rem 2rem;
	background: #ec008c;
	transition: all 0.3s;
}
.menu{
	top de cero;
	right de cero;
	altura de 4px;
	ancho de 24px;
	alineamiento de texto: a la derecha;
	margen de 2 rem (arriba,abajo,derecha e izquierda);
	color de fondo:fucsia;
	toda la transition demora 0.3 segundos
}
#toggle:hover .menu:before{
	top: -9px;
}
#toggle:hover .menu:after {
	top:9px;
}
